<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.lemke.nakbuch">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <!-- uses-permission android:name="com.android.vending.BILLING" / -->

    <!--
    TODO
        easterEgg Recyclerview
        such algo

        Threading / power management / loading
        (Google Drive sichern?)
        (new Android 12 Splashscreen)
        (theme farbe) currently not supported
    -->

    <queries>
        <intent>
            <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/OneUITheme">

        <!--meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5655920768524739~3712954071"/-->

        <!--meta-data android:name="google_analytics_default_allow_ad_personalization_signals" android:value="false" / firebase not used anyways -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="SamsungBasicInteraction"
            android:value="SEP10" />
        <meta-data
            android:name="com.samsung.android.icon_container.has_icon_container"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.icon_container.feature_appicon"
            android:value="ADAPTIVEICON_SHADOW" />

        <activity android:name=".ui.EasterEggSwitchBarActivity" />
        <activity android:name=".ui.HistorySwitchBarActivity" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.TextviewActivity" />
        <activity android:name=".ui.ImgviewActivity" />
        <activity android:name=".ui.HelpActivity" />
        <activity android:name=".ui.SupportMeActivity" />
        <activity
            android:name=".ui.AboutActivity"
            android:theme="@style/OneUIAboutTheme" />
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">

        </activity>
        <activity
            android:name=".ui.splashscreens.SplashActivity"
            android:exported="true"
            android:theme="@style/OneUISplashTheme">
            <meta-data
                android:name="com.sec.android.app.launcher.icon_theme"
                android:value="themeColor" /> <!-- new (only Samsung, >Android 12) Themed Icon -->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.splashscreens.SplashActivityGesangbuch"
            android:exported="true"
            android:theme="@style/OneUISplashTheme" />
        <activity
            android:name=".ui.splashscreens.SplashActivityChorbuch"
            android:exported="true"
            android:theme="@style/OneUISplashTheme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="de.lemke.nakbuch.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>