<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!--package="de.lemke.nakbuch"
    Early 2022 (Gradle 7.2): Should be moved to build.gradle but "Extract String ressource" from context actions not working if missing here!?? :/ -->

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <!-- uses-permission android:name="com.android.vending.BILLING" / -->

    <!--
    TODO
        database fts???
        recycler: duplicate code?
        DoNotDisturb -> context
        context in Fragment? (mContext, nullable getContext())
        coroutines optimization (order, nested coroutines?)

        UserSettings (set, list) -> db?

        xml konfetti on top?

        imgView fullscreen? works on emu
        (save to Google Drive?)
        (new Android 12 Splashscreen)
        (theme color) currently not supported

        Identify sources of slow UI rendering by using the Janky Frames track in the CPU Profiler tool.
        The Janky Frames track by default shows only janky frames as candidates for investigation,
        so you can quickly hone in where the problem is.
    -->

    <queries>
        <intent>
            <action android:name="android.speech.action.RECOGNIZE_SPEECH" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/OneUITheme"
        tools:targetApi="32">

        <!--meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5655920768524739~3712954071"/-->

        <!--meta-data android:name="google_analytics_default_allow_ad_personalization_signals" android:value="false" / firebase not used anyways -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="SamsungBasicInteraction"
            android:value="SEP10" />
        <meta-data
            android:name="com.samsung.android.icon_container.has_icon_container"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.icon_container.feature_appicon"
            android:value="ADAPTIVEICON_SHADOW" />

        <activity android:name=".ui.EasterEggSwitchBarActivity" />
        <activity android:name=".ui.HistorySwitchBarActivity" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.TextviewActivity" />
        <activity android:name=".ui.ImgviewActivity" />
        <activity android:name=".ui.HelpActivity" />
        <activity android:name=".ui.AboutMeActivity" />
        <activity
            android:name=".ui.AboutActivity"
            android:theme="@style/OneUIAboutTheme" />
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">

        </activity>
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/OneUISplashTheme">
            <meta-data
                android:name="com.sec.android.app.launcher.icon_theme"
                android:value="themeColor" /> <!-- new (only Samsung, >Android 12) Themed Icon -->
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SplashActivityGesangbuch"
            android:exported="true"
            android:theme="@style/OneUISplashTheme" />
        <activity
            android:name=".ui.SplashActivityChorbuch"
            android:exported="true"
            android:theme="@style/OneUISplashTheme" />
        <activity
            android:name=".ui.SplashActivityJugendliederbuch"
            android:exported="true"
            android:theme="@style/OneUISplashTheme" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="de.lemke.nakbuch.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>