<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- uses-permission android:name="android.permission.WAKE_LOCK" / -->
    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/OneUITheme"
        android:name=".App">

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/WatchTheme">
            <meta-data android:name="com.sec.android.app.launcher.icon_theme" android:value="themeColor"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TextviewActivity"
            android:theme="@style/OneUITheme" />
        <activity
            android:name=".ui.InfoActivity"
            android:theme="@style/OneUITheme" />
        <activity android:name="androidx.wear.activity.ConfirmationActivity" />

        <service
            android:name=".domain.utils.MessageService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:host="*"
                    android:pathPrefix="/privateTextGesangbuch"
                    android:scheme="wear" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:host="*"
                    android:pathPrefix="/privateTextChorbuch"
                    android:scheme="wear" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:host="*"
                    android:pathPrefix="/privateTextJugendliederbuch"
                    android:scheme="wear" />
            </intent-filter>
        </service>

    </application>

</manifest>